<footer>
  <div class="web-footer-container">
    <a class="footer-logo-link" href="./index.html">
      <svg class="footer-logo-icon" width="127" height="20">
        <use href="../img/icons.svg#icon-logo"></use>
      </svg>
    </a>
    <address class="footer-address" id="contacts">
      <a class="footer-address-link" href="tel:380665438912"
        >UK: +38 066 543 8912
        <span class="footer-address-desc">Ukraine, Kyiv</span>
      </a>
    </address>
    <div class="footer-socials-menu">
      <div class="footer-socials">
        <ul class="socials">
          <li class="socials-item">
            <a class="socials-link" href="https://Instagram.com" target="_blank"
              >Instagram</a
            >
          </li>
          <li class="socials-item">
            <a class="socials-link" href="https://facebook.com" target="_blank"
              >Facebook</a
            >
          </li>
          <li class="socials-item">
            <a class="socials-link" href="https://Youtube.com" target="_blank"
              >Youtube</a
            >
          </li>
        </ul>
      </div>
      <div class="footer-menu">
        <li class="menu-item">
          <a class="menu-link" href="#about">About us</a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="#courses">Our courses</a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="#mentors">Our mentors</a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="#reviews">Reviews</a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="#contacts">Contacts</a>
        </li>
      </div>
    </div>
    <div class="web-footer-field">
      <form class="web-footer-form" name="footer-form">
        <label class="web-footer-label">
          <input
            class="web-footer-input"
            type="email"
            name="form-email"
            placeholder="Enter your email"
          />
        </label>
        <button class="web-footer-btn" type="submit">Go</button>
      </form>
    </div>
    <div class="web-footer-bottom">
      <p class="web-footer-privacy">Privacy Policy Public Offering Agreement</p>
      <p class="web-footer-copyright">2023 Focus Frame © All rights reserved</p>
    </div>
  </div>
</footer>
