  <!-- mobile menu -->
  <div class="mobile-menu js-menu-container">
    <button class="menu-close-btn js-close-menu" type="button">
      <svg class="menu-close-icon" width="20" height="20">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>

    <ul class="mobile-menu-list">
      <li class="mobile-menu-item">
        <a class="mobile-menu-link current header-link" href="#about" >
            About us
        </a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link header-link" href="#courses ">
            Our courses
        </a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link header-link" href="#mentors" >
            Our mentors
        </a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link header-link" href="#reviews" >
            Reviews
        </a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link header-link" href="#contacts" >
            Contacts
        </a>
      </li>
   </ul>
   </div>