  <!-- mobile menu -->

  <div class="mobile-menu ">
    <button class="menu-btn" type="button">
      <svg class="menu-btn-icon" width="8" height="8">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>

    <ul class="mobile-menu-list">
      <li class="mobile-menu-item">
        <a class="mobile-menu-link current" href="#about" >
            About us
        </a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link" href="#courses ">
            Our courses
        </a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link" href="#mentors" >
            Our mentors
        </a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link" href="#Reviews" >
            Reviews
        </a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link" href="#header" >
            contacts
        </a>
      </li>
   </ul>
   <div class="mobile-menu-background"></div>
  </div>