
 <section class="reviews">
      <div class="container container-reviews">
        <h2 class="reviews-title">Reviews</h2>
        <ul class="reviews-list">
          <li class="reviews-list-item">
            <div class="reviews-list-wrapp">
              <img
                class="reviews-img"
                src="../img/reviews/user.jpg"
                alt="Abraham Baker"
              />
              <div class="reviews-wrapp">
                <h3 class="reviews-list-title">Abraham Baker</h3>
                <p class="reviews-subtitle">Student</p>

                <ul class="reviews-list-item-svg">
                  <li class="reviews-list-item-svg-icons">
                    <svg
                      class="reviews-list-item-svg-icon active"
                      width="16"
                      height="16"
                    >
                      <use href="../img/icons.svg#icon-star-empty"></use>
                    </svg>
                  </li>
                  <li class="reviews-list-item-svg-icons">
                    <svg
                      class="reviews-list-item-svg-icon active"
                      width="16"
                      height="16"
                    >
                      <use href="../img/icons.svg#icon-star-empty"></use>
                    </svg>
                  </li>
                  <li class="reviews-list-item-svg-icons">
                    <svg
                      class="reviews-list-item-svg-icon active"
                      width="16"
                      height="16"
                    >
                      <use href="../img/icons.svg#icon-star-empty"></use>
                    </svg>
                  </li>
                  <li class="reviews-list-item-svg-icons">
                    <svg
                      class="reviews-list-item-svg-icon active"
                      width="16"
                      height="16"
                    >
                      <use href="../img/icons.svg#icon-star-empty"></use>
                    </svg>
                  </li>
                  <li class="reviews-list-item-svg-icons">
                    <svg
                      class="reviews-list-item-svg-icon"
                      width="16"
                      height="16"
                    >
                      <use href="../img/icons.svg#icon-star-empty"></use>
                    </svg>
                  </li>
                </ul>
              </div>
            </div>
            <p class="reviews-list-item-text">
              I am very pleased that I decided to enroll in photography school.
              The teachers turned out to be very talented and experienced
              professionals who share their knowledge and are dedicated to their
              work. I was able to expand my skills and discover my own style.
            </p>
          </li>

          <li class="reviews-list-item reviews-visually-hidden">
            <div class="reviews-list-wrapp">
              <img
                class="reviews-img"
                src="../img/reviews/girl.jpg"
                alt="Amanda Lowery"
              />
              <div class="reviews-wrapp">
                <h3 class="reviews-list-title">Amanda Lowery</h3>
                <p class="reviews-subtitle">Student</p>

                <ul class="reviews-list-item-svg">
                  <li class="reviews-list-item-svg-icons">
                    <svg
                      class="reviews-list-item-svg-icon active"
                      width="20"
                      height="20"
                    >
                      <use href="../img/icons.svg#icon-star-empty"></use>
                    </svg>
                  </li>
                  <li class="reviews-list-item-svg-icons">
                    <svg
                      class="reviews-list-item-svg-icon active"
                      width="20"
                      height="20"
                    >
                      <use href="../img/icons.svg#icon-star-empty"></use>
                    </svg>
                  </li>
                  <li class="reviews-list-item-svg-icons">
                    <svg
                      class="reviews-list-item-svg-icon active"
                      width="20"
                      height="20"
                    >
                      <use href="../img/icons.svg#icon-star-empty"></use>
                    </svg>
                  </li>
                  <li class="reviews-list-item-svg-icons">
                    <svg
                      class="reviews-list-item-svg-icon active"
                      width="20"
                      height="20"
                    >
                      <use href="../img/icons.svg#icon-star-empty"></use>
                    </svg>
                  </li>
                  <li class="reviews-list-item-svg-icons">
                    <svg
                      class="reviews-list-item-svg-icon"
                      width="20"
                      height="20"
                    >
                      <use href="../img/icons.svg#icon-star-empty"></use>
                    </svg>
                  </li>
                </ul>
              </div>
            </div>
            <p class="reviews-list-item-text">
              The courses at the photography school exceeded all my
              expectations. I gained not only technical knowledge, but also
              inspiration and motivation to reach new heights in my creativity.
              Hands-on classes and workshops helped me understand different
              styles of photography.
            </p>
          </li>
        </ul>
      </div>
    </section>