<section class="sing-up-section">
    <div class="container">
        <h2>Sing Up</h2>
        <p>Please use the form below to contact us. Enter your name, email, and message and we'll get back to you
            shortly.</p>
        <form action="#">
            <div class="">
                <label class="" for="user-name"></label>
                <div class="">
                    <input class="" type="text" id="user-name" name="user-name" placeholder="Enter your name">
                </div>
            </div>
            <div class="">
                <label class="" for="user-email"></label>
                <div class="">
                    <input class="" type="text" id="user-email" name="user-email" placeholder="Enter your email">
                </div>
            </div>
            <div class="">
                <label class="" for="user-comment"></label>
                <textarea class="" name="user-comment" id="user-comment" cols="30" rows="10"
                    placeholder="Message"></textarea>
            </div>
            <button class="">
                Send
            </button>
            <p>By clicking on “Send” button, you agree to our <a href="">Privacy Policy</a>,
                and allow Promodo to use this information for marketing purposes.</p>
        </form>
    </div>
    <div class="container">
        <picture>
            <img src="../img/signup/objective.png" alt="">
        </picture>
        <picture>
            <img src="../img/signup/camera.png" alt="">
        </picture>
    </div>
</section>