.about {
  padding: 40px 0;
}
.about-title {
  margin-bottom: 40px;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
}
.about-title-span {
  color: #bea69e;
}
.about-foto,
.about-item {
  width: 100%;
}
.about-item-text {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
}
.about-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.about-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
@media only screen and (min-width: 768px) {
  .about {
    padding: 50px 0;
  }
  .about-title {
    margin-bottom: 50px;
  }
  .about-wrapper {
    gap: 50px;
  }
  .about-list {
    gap: 40px;
  }
  .about-item {
    width: 280px;
  }
  .about-title {
    font-size: 48px;
    line-height: 1.12;
  }
  .about-item-text {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
  }
}
@media only screen and (min-width: 1280px) {
  .about-wrapper {
    gap: 40px;
    flex-shrink: 0;
    flex-grow: 1;
  }
  .about-list {
    gap: 20px;
  }
  .about-item {
    width: 264px;
  }
  .about-item:first-child {
    width: 268px;
  }
  .about {
    padding: 75px 0;
  }
}
@media only screen and (min-width: 1440px) {
  .about-wrapper {
    gap: 50px;
  }
  .about-list {
    gap: 40px;
  }
  .about-item {
    width: 276px;
  }
  .about-item:first-child {
    width: 314px;
  }
}
