/* Mobile menu */
.header .mobile-menu{
    position: absolute;
    top: 24px;
    right: 24px;
}
.mobile-menu {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 480px;
    min-height: 1024px;
  
    padding: 0;
    margin: 0;
    background:  #BEA69E;
  
    transform:translateX(-100%);
    transition: transform 280ms ease, visibility 300ms ease;
    visibility: hidden;
}
.is-open {
    transform:translateY(0);
    visibility: visible;
}
.menu-btn {
    display: flex;
    align-items:center;
    justify-content: center;
    margin-left: auto;
}
.mobile-menu .menu-btn {
    position: absolute;
    top:24px;
    right: 24px;
  
    width: 24px;
    height: 24px;
  
    display: flex;
    align-items:center;
    justify-content: center;
  }
.menu-btn-icon {
    stroke: #121212;
}
.menu-btn-icon:hover {
    stroke: #121212;
    fill:black;
}
.mobile-menu-list {
    margin: 0;
    padding-top: 232px;
    padding-left: 64px;
}
.mobile-menu-item {
}
.mobile-menu-link {
}
.link-span {
    font-weight: 700;
}
.menu-content {
    padding-bottom: 114px;
}
.mobile-menu-background {
width: 476px;
height: 480px;
margin: 0;
padding: 0;
    background-image:
        url(../img/header/img-menu-bg-tab.jpg);
}  

