/* mobile menu style */
.mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
  
    display: flex;
    flex-direction: column;
    width: 218px;
    height: 812px;
    padding: 20px;
  
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
    background-image: url('../img/header/img-menu-bg.jpg');
    background-color: #bea69e;
    transform: translateX(100%);
    visibility: hidden;
    transition: transform 300ms ease, visibility 300ms ease;
  }
  @media (min-resolution: 192dpi) {
    .mobile-menu {
      background-image: url('../img/header/img-menu-bg@2x.jpg');
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 1279.98px) {
    .mobile-menu {
      width: 480px;
      height: 1024px;
      padding: 64px;
      background-image: url('../img/header/img-menu-bg-tab@2x.jpg');
    }
    .menu-close-btn {
      top: 20px;
      right: 40px;
      width: 40px;
      height: 32px;
    }

    .menu-close-icon {
      width: 28px;
      height: 28px;
    }
    .mobile-menu-item:not(:last-child) {
      margin-bottom: 28px;
    }
    .mobile-menu-list {
      margin-top: 164px;
    }
  }
  @media (min-resolution: 192dpi) and (max-width: 1279.98px) {
    .mobile-menu {
      background-image: url('../img/header/img-menu-bg-tab@2x.jpg');
    }
  }
  
  .mobile-menu.is-open {
    transform: translateX(0);
    visibility: visible;
  }
  
  .menu-close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 32px;
    height: 32px;
  }
  .menu-close-icon {
    stroke: #121212;
  }
  .menu-close-icon
  .mobile-menu-list {
    margin-top: 180px;
  }
  .mobile-menu-item:not(:last-child) {
    margin-bottom: 20px;
  }
  .mobile-menu-link {
    color: #121212;
    font-size: 14px;
  
    line-height: normal;
    text-transform: uppercase;
  }
  
  .current,
  .mobile-menu-link:active,
  .mobile-menu-link:is(:hover, :focus){
    font-weight: 700;
  }