/* марджині паддинги перепроверка */
.mentors {
  padding: 40px 0;
}
.title-mentors {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
  margin-bottom: 40px;
}
.mentors-accent {
  color: #bea69e;
}
.mentors-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}
.mentors-item {
  width: 185px;
}
.mentors-item:nth-child(3) {
  width: 194px;
}

.mentors-picture {
  margin: 0 auto;
}
.mentors-picture {
  border-radius: 200px;
  /*  border-radius: 50%; */
  overflow: hidden;
  margin-bottom: 16px;
}
.mentors-caption {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 4px;
}
.mentors-text {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: -0.02em;
}
@media only screen and (min-width: 768px) {
  .mentors {
    padding: 50px 0;
  }
  .title-mentors {
    font-size: 48px;
    line-height: 1.12;
    margin-bottom: 50px;
  }
  .mentors-list {
    margin: 0 auto;
    width: 488px;
    gap: 93px 100px;
  }
  .mentors-item {
    width: calc((100% - 100px * 1) / 2);
  }
  .mentors-caption {
    font-size: 28px;
    line-height: 1.14;
  }
  .mentors-text {
    font-size: 14px;
    line-height: 1.28;
  }
}
@media only screen and (min-width: 1280px) {
  .mentors {
    padding: 75px 0;
  }
  .mentors-list {
    width: 1076px;
  }
  .mentors-item {
    width: calc((100% - 100px * 3) / 4);
  }
}
@media only screen and (min-width: 1440px) {
  .mentors-list {
    width: 1240px;
  }
}
